<ul class="list-group">
  <li class="list-group-item active">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>


<button class="btn btn-primary" (click)="addItem('test')">Add</button>
<button class="btn btn-primary" (click)="removeItem(1)">Remove</button>


<div *ngFor="let item of items">
  {{item}}
</div>
